# Ignorar archivos de node_modules
node_modules
# Ignorar archivos de .env
.env
# Ignorar archivos sensibles de estudiantes
cargardatosmysql.py 
cargarModelo.py 
conversionGenero.py 
curva_roc.png
datasetSmoteOrange.py 
DatasetTesis_orang.csv 
DatasetTesis_orang.xlsx 
DatasetTesis_SMOTE.xlsx
DatasetTesis.xlsx 
datos_limpios.xlsx 
distribucion_probabilidades.png 
estudiantes_en_riesgo.xlsx 
extract_asignaturas.py
historial_procesado.xlsx
importancia_caracteristicas.png
archivo_filtrar.py
historial_estudiantes_oficial.xlsx
historial_estudiantes_unificados.py
hoja_datos_actualizada202451.xlsx 
importancia_caracteristicas.png 
matriz_confusion.png modelo_desercion.pkl 
modelo_entrenado.py modelo_entrenamiento1.py 
predicciones_estudiantes.xlsx predicciones_riesgo.xlsx 
predicciones_riesgo1.xlsx preprocesar_datos.py 
probabilidad.png roc_curve.png scaler_desercion.pkl 
transformar_Historial.py
historial_procesado.xlsx
matriz_confusion.png
modelo_desercion.pkl
modelo_entrenado.py
modelo_entrenamiento1.py
predicciones_estudiantes.xlsx
predicciones_riesgo.xlsx
predicciones_riesgo1.xlsx
preprocesar_datos.py
probabilidad.png
roc_curve.png
scaler_desercion.pkl
transformar_Historial.py
registroPromedio202450.py
predicciones_riesgo_desercion.xlsx
predicciones_riesgo_desercion1.xlsx
historial_estudiantes_unificado.py
